In [8]:
#ANSWER 1: Here is an example of creating one variable containing different types of data:

# A string variable
string_var = "Hello"

# A list variable
list_var = [1, 2, 3, 4, 5,3.5,True]

# A float variable
float_var = 3.14

# A tuple variable
tuple_var = (6, 7, 8, 9, 10,[4,8,7,4,9,3.5])

In [7]:
string_var

'Hello'

In [4]:
list_var

[1, 2, 3, 4, 5, 3.5, True]

In [5]:
float_var

3.14

In [6]:
tuple_var

(6, 7, 8, 9, 10, [4, 8, 7, 4, 9, 3.5])

In [11]:
# ANSWER 2 : The data types of the given variables are:

# (1) var1 is a string variable with an empty string value.
var1=''

In [10]:
type(var1)

str

In [14]:
# (2) var2 is a string variable containing a list representation as a string.
var2='[ DS , ML , Python]'

In [15]:
type(var2)

str

In [19]:
# (3) var3 is a list variable containing strings as elements.
var3= ['DS','ML','Python']

In [20]:
type(var3)

list

In [21]:
# (4) var4 is a float variable with a value of 1.0.
var4=1.

In [22]:
type(var4)

float

In [25]:
#ANSWER 3 : Here is an explanation of the four operators with examples:
# (1) The / operator is the division operator. It performs division of the left operand by the right operand and returns the result as 
#a floating-point number. For example:

In [26]:
# Division operator
a = 80
b = 5
result = a / b
print(result)

16.0

In [27]:
# (2) The % operator is the modulus operator. It performs integer division of the left operand by the right operand
# and returns the remainder as the result. For example:

In [28]:
# Modulus operator
a = 40
b = 3
result = a % b
print(result)

1

In [29]:
# (3) The // operator is the floor division operator. It performs integer division of the left operand by the right operand
# and returns the quotient as an integer, rounded down to the nearest whole number. For example:

In [30]:
# Floor division operator
a = 83
b = 3
result = a // b
print(result)

27

In [31]:
# (4) The ** operator is the exponentiation operator in Python. It performs exponentiation of the left operand by the right operand 
# and returns the result. For example:

In [32]:
# Exponentiation operator
a = 4
b = 8
result = a ** b
print(result)

65536

In [33]:
#ANSWER 4: Here's an example of creating a list of 10 elements with multiple data types and using a for loop to print each element 
# and its corresponding data type:

In [35]:
# A list of 10 elements with multiple data types
list = [1, 'hello', True, 3.14, [4, 5, 6], 'world', False, 7, 8.9]

# Printing each element and its data type using a for loop
for elem in list:
    print(f"{elem} is of type {type(elem)}")

1 is of type <class 'int'>
hello is of type <class 'str'>
True is of type <class 'bool'>
3.14 is of type <class 'float'>
[4, 5, 6] is of type <class 'list'>
world is of type <class 'str'>
False is of type <class 'bool'>
7 is of type <class 'int'>
8.9 is of type <class 'float'>

In [36]:
#ANSWER 5: Here is an example of using a while loop to verify if a number A is divisible by another number B, 
# and if so,how many times it can be divided:

In [44]:
# Taking input of two numbers A and B
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))

# Initializing a variable to keep track of the number of times A is divisible by B
count = 0
temp=a
# Checking if A is divisible by B and counting the number of times it can be divided
while a % b == 0:
    count=count+1
    a =a/ b

# Checking if A is purely divisible by B
if count > 0:
    print(f"{temp} is divisible by {b} {count} times")
else:
    print(f"{temp} is not divisible by {b}")

Enter number A:  83
Enter number B:  2

83 is not divisible by 2

In [48]:
#ANSWER 6 :Here is an example of creating a list containing 25 integers, and then using a for loop and if-else condition to print 
# if each element is divisible by 3 or not:

In [47]:
# Creating a list of 25 integers
list = [2, 3, 15, 200, 125, 30, 35, 840, 145, 150, 155, 600, 333, 222, 111, 6960, 6969, 690, 69, 1080, 1055, 1110, 1155, 1200, 1125]

# Looping through each element in the list and checking if it is divisible by 3
for i in list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

2 is not divisible by 3
3 is divisible by 3
15 is divisible by 3
200 is not divisible by 3
125 is not divisible by 3
30 is divisible by 3
35 is not divisible by 3
840 is divisible by 3
145 is not divisible by 3
150 is divisible by 3
155 is not divisible by 3
600 is divisible by 3
333 is divisible by 3
222 is divisible by 3
111 is divisible by 3
6960 is divisible by 3
6969 is divisible by 3
690 is divisible by 3
69 is divisible by 3
1080 is divisible by 3
1055 is not divisible by 3
1110 is divisible by 3
1155 is divisible by 3
1200 is divisible by 3
1125 is divisible by 3

In [50]:
#ANSWER 7 : data types can be classified as either mutable or immutable. 
#Immutable data types are those that cannot be changed once they are created,while mutable data types can be changed after creation.
#Immutable Data Types:
#int, float, bool, str, tuple
#For example, consider the following code:

In [52]:
string ="ravi"
string[2]='k'

TypeError: 'str' object does not support item assignment

In [54]:
#Mutable Data Types:
# list, set, dict
#For example, consider the following code:

In [55]:
list =[1,2,3,5]
list[2] =69
list

[1, 2, 69, 5]