Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer 1:A database is a structured collection of data that is organized, stored, and managed to provide efficient retrieval and manipulation of information. It serves as a central repository for storing and managing data, allowing users or applications to interact with the data in various ways.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems with distinct characteristics:

SQL Databases:

1 Structure: SQL databases are based on a relational model, where data is organized into tables with predefined schemas. Each table consists of rows (records) and columns (attributes), and relationships between tables are established using primary and foreign keys.

2 Schema and Flexibility: SQL databases enforce a rigid schema, meaning the structure of the data must be predefined. Any changes to the schema require altering the table structure, which can be time-consuming and complex.

3 Query Language: SQL databases use SQL as the standard query language for retrieving, inserting, updating, and deleting data. SQL provides a declarative approach, allowing users to specify what data they want without needing to specify how to retrieve it.

4 ACID Transactions: SQL databases typically support ACID (Atomicity, Consistency, Isolation, Durability) transactions, ensuring data integrity and reliability.

5 Scaling: SQL databases are generally better suited for structured data and perform well for complex queries involving multiple tables. They often scale vertically by adding more powerful hardware resources.

NoSQL Databases:

1 Structure: NoSQL databases utilize a variety of data models, such as key-value, document, columnar, or graph, to store data. These models are more flexible and can adapt to changing data requirements.

2 Schema and Flexibility: NoSQL databases offer dynamic schemas, allowing for more flexibility. Data can be stored without a predefined structure, and new attributes can be added on the fly.

3 Query Language: NoSQL databases may use various query languages, depending on the data model. Some provide their query languages, while others support a combination of SQL-like queries and proprietary extensions.

4 Transactions and Consistency: NoSQL databases often sacrifice full ACID transactions in favor of scalability and performance. Some NoSQL databases provide eventual consistency, where data changes are propagated asynchronously across the system.

5 Scaling: NoSQL databases are designed to handle large volumes of unstructured or semi-structured data and can scale horizontally by adding more servers to distribute the data and workload.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer 2:DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.

Here are explanations and examples of four commonly used DDL statements:

1 CREATE:

The CREATE statement is used to create new database objects, such as tables, views, or indexes. It specifies the structure and properties of the object being created. For example, to create a table named "Customers" with columns for customer ID, name, and email:

CREATE TABLE Customers (

  CustomerID INT PRIMARY KEY,
  
  Name VARCHAR(50),
  
  Email VARCHAR(100)
  
);

2 DROP:

The DROP statement is used to remove an existing database object, such as a table or view, from the database. It permanently deletes the object and its associated data. For example, to drop the previously created "Customers" table:

DROP TABLE Customers;

3 ALTER:

The ALTER statement is used to modify the structure or properties of an existing database object. It allows you to add, modify, or delete columns, constraints, or other attributes. For example, to add a new column named "Address" to the "Customers" table:

ALTER TABLE Customers

ADD Address VARCHAR(100);

4 TRUNCATE:

The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. It is faster than deleting all rows individually because it deallocates the data pages. However, it cannot be rolled back and does not trigger any delete triggers. For example, to remove all data from the "Customers" table

TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer 3:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and modify data within a database. DML statements are responsible for inserting, updating, and deleting records within database tables.

Here are explanations and examples of three commonly used DML statements:

1 INSERT:

The INSERT statement is used to add new records (rows) into a table. It specifies the table name and the values to be inserted into the corresponding columns. For example, to insert a new customer record into a "Customers" table:

INSERT INTO Customers (CustomerID, Name, Email)

VALUES (1, 'ravi  prajapati', 'ravi@gmail.com');

2 UPDATE:

The UPDATE statement is used to modify existing records within a table. It specifies the table name, the columns to be updated, and the new values for those columns based on certain conditions. For example, to update the email address of a customer with the ID of 1:

UPDATE Customers

SET Email = 'newemail@example.com'

WHERE CustomerID = 1;

3 DELETE:

The DELETE statement is used to remove records from a table based on specified conditions. It specifies the table name and the conditions that determine which records should be deleted. For example, to delete all customer records with the email domain 'example.com':

DELETE FROM Customers

WHERE Email LIKE '%@example.com';

Q4. What is DQL? Explain SELECT with an example.

Answer 4:DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements are primarily focused on selecting and retrieving data from one or more tables based on specified criteria.

The most commonly used DQL statement is SELECT. It allows you to retrieve data from one or more tables and specify conditions to filter the results. Here's an explanation and an example of the SELECT statement:

SELECT:
The SELECT statement is used to retrieve data from a database table. It specifies the columns you want to retrieve and the table(s) from which you want to retrieve the data. You can also include conditions to filter the rows returned.

Example:
Consider a table named "Employees" with columns "EmployeeID," "FirstName," "LastName," and "Salary." To retrieve the IDs and names of all employees with a salary greater than 50000, you would use the SELECT statement as follows:

SELECT EmployeeID, FirstName, LastName

FROM Employees

WHERE Salary > 50000;

Q5. Explain Primary Key and Foreign Key.

Answer 5:

Primary Key:

A primary key is a column or a combination of columns in a database table that uniquely identifies each row in that table. It serves as a unique identifier for the records and ensures data integrity and consistency. Here are some key points about primary keys:

1 Uniqueness: Each value in the primary key column(s) must be unique within the table. No two rows can have the same primary key value.

2 Non-nullability: A primary key value cannot be NULL. It must have a valid value for every row.

3 Single value: A primary key can consist of a single column or multiple columns (composite key) if necessary to uniquely identify a row.

4 Indexing: Primary keys are automatically indexed by most database management systems (DBMS) for efficient data retrieval and enforce faster search operations.

5 Relationship establishment: Primary keys are used to establish relationships with foreign keys in related tables, ensuring referential integrity.


Foreign Key:

A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables based on the values of the key columns. Here are some key points about foreign keys:

1 Referential Integrity: The foreign key in one table establishes a link to the primary key in another table, enforcing referential integrity. It ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.

2 Relationship: Foreign keys represent the relationships between tables, defining dependencies and associations between data in different tables.

3 Cascading Actions: Foreign keys can have cascading actions associated with them, such as ON DELETE and ON UPDATE actions. These actions define what happens to related records when a referenced record is deleted or updated.

4 Multiple Foreign Keys: A table can have multiple foreign keys, representing relationships with different tables.

5 Indexing: Foreign keys are often indexed by DBMS to improve join performance and enforce referential integrity constraints

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer 6:Python code that demonstrates how to connect to a MySQL database and use the cursor() and execute() methods:

In [ ]:
import mysql.connector

# Establishing a connection to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Creating a cursor object to interact with the database
cursor = mydb.cursor()

# Executing SQL queries using the execute() method
cursor.execute("SELECT * FROM employees")

# Fetching the results using the fetchall() method
results = cursor.fetchall()

# Displaying the fetched data
for row in results:
    print(row)

# Closing the cursor and database connection
cursor.close()
mydb.close()

Explanation:

1 Firstly, you need to import the mysql.connector module to establish a connection with the MySQL database.

2 Then, you establish a connection to the MySQL database using the mysql.connector.connect() method by providing the necessary connection details such as hostname, username, password, and database name.

3 After successfully connecting to the database, you create a cursor object using the cursor() method. The cursor object allows you to execute SQL queries and retrieve results.
 
4 You can execute SQL queries using the execute() method on the cursor object. In the given example, a simple SELECT query is executed to retrieve all rows from the "employees" table.

5 Once the query is executed, you can fetch the results using the fetchall() method, which returns all rows as a list of tuples.

6 Finally, you can iterate through the fetched results and process them as needed. In the example, each row is printed to the console.

7 After completing the database operations, it's important to close the cursor and the database connection using the close() method to release resources.

By using the cursor() and execute() methods, you can interact with the MySQL database in Python, execute SQL queries, fetch results, and perform various operations on the data stored in the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer 7:The order of execution of SQL clauses in an SQL query generally follows the logical order outlined below:

1 FROM: The FROM clause specifies the tables or views from which the data will be retrieved. It identifies the data sources for the query.

2 WHERE: The WHERE clause is used to specify the conditions that the retrieved data must meet. It filters the rows based on the specified criteria.

3 GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It is often used in combination with aggregate functions like SUM, AVG, COUNT, etc.

4 HAVING: The HAVING clause filters the grouped rows based on specified conditions. It works similar to the WHERE clause but operates on grouped data.

5 SELECT: The SELECT clause specifies the columns or expressions to be retrieved from the database. It determines the specific data that will be included in the result set.

6 DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set. It ensures that only unique rows are included in the output.

7 ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It specifies the sort order (ascending or descending) for each column.

8 LIMIT / OFFSET: The LIMIT clause is used to restrict the number of rows returned by the query. The OFFSET clause specifies the starting point for the result set.

9 UNION / INTERSECT / EXCEPT: These set operations are used to combine or compare the result sets of multiple queries. The UNION operation combines the results and removes duplicates, INTERSECT returns the common rows, and EXCEPT returns the rows in the first query that are not present in the second query.