Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Answer1:

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Answer2:

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Answer 3:

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer4: In pandas, a DataFrame is a two-dimensional labeled data structure that represents a tabular, spreadsheet-like data object. It consists of rows and columns, similar to a table in a relational database or a spreadsheet. A DataFrame can store heterogeneous data types and provides powerful data manipulation and analysis capabilities.

On the other hand, a Series is a one-dimensional labeled data structure in pandas. It can be thought of as a single column of data with row labels. A Series can store homogeneous data types (e.g., integers, strings, floats) and is similar to a NumPy array with additional indexing functionality.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [4]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Example Series
name_series = df['Name']

print("DataFrame:")
print(df)
print("\nSeries:")
print(name_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Answer5:Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some common functions:

1 head() and tail(): These functions allow you to view the first or last few rows of the DataFrame, respectively. They are useful for quickly inspecting the data.

2 info(): This function provides a summary of the DataFrame, including the column names, data types, and number of non-null values in each column. It helps in understanding the structure of the DataFrame.

3 describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It provides a summary of the distribution of the data.

4 value_counts(): This function counts the occurrences of unique values in a column and returns the results as a new Series. It is helpful for understanding the frequency of different values in a categorical column.

5 sort_values(): This function sorts the DataFrame based on one or more columns. It allows you to order the data in ascending or descending order, which can be useful for identifying patterns or finding the top/bottom values.

6 groupby(): This function is used to group the data based on one or more columns. It enables aggregation and calculation of summary statistics on subsets of the data. It is commonly used in combination with functions like mean(), sum(), count(), etc.

7 fillna(): This function is used to fill missing values in the DataFrame with a specified value or a calculated value. It helps in handling missing data effectively.

Example :

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [21, 20, 21, 22, 20],
    'Grade': [85, 90, 92, 88, 95]
}

df = pd.DataFrame(data)

# Grouping by age and calculating average grade
average_grade_by_age = df.groupby('Age')['Grade'].mean()

print(average_grade_by_age)

Age
20    92.5
21    88.5
22    88.0
Name: Grade, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer 6:Among the options provided (Series, DataFrame, and Panel), the mutable nature applies to DataFrame.

DataFrame is mutable, meaning its values and structure can be modified after creation. You can add, remove, or modify columns, change values in specific cells, and perform various manipulations on the data within a DataFrame.

On the other hand, both Series and Panel are immutable in nature. Once created, their values and structures cannot be modified. While you can perform operations on Series and Panel to create new Series or Panel objects, the original objects remain unchanged.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Answer 7:

In [6]:
import pandas as pd

# Create Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame using Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female